/* *** Colors *** */
$clr-black: #13121c;
$clr-white: #fff;
$clr-yellow: #fad762;
$clr-light-yellow: #fcffd4;
$clr-blue: #84a9b5;
$clr-red: #f27350;
$clr-pink: #f0bec9;

.clr-black {
	color: $clr-black;
}
.bclr-black {
	background-color: $clr-black;
}
.clr-white {
	color: $clr-white;
}
.bclr-white {
	background-color: $clr-white;
}
.clr-yellow {
	color: $clr-yellow;
}
.bclr-yellow {
	background-color: $clr-yellow;
}
.clr-light-yellow {
	color: $clr-light-yellow;
}
.bclr-light-yellow {
	background-color: $clr-light-yellow;
}
.clr-blue {
	color: $clr-blue;
}
.bclr-blue {
	background-color: $clr-blue;
}
.clr-red {
	color: $clr-red;
}
.bclr-red {
	background-color: $clr-red;
}
.clr-pink {
	color: $clr-pink;
}
.bclr-pink {
	background-color: $clr-pink;
}
