@import "./colors.scss";
@import "./fonts.scss";

@import "./components/tiltWrapper.scss";
@import "./components/footer.scss";
@import "./components/buttons.scss";
@import "./components/media.scss";
@import "./components/navigation.scss";
@import "./components/forms.scss";

/* *** Default Elements *** */
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
}

html,
body {
	color: $clr-black;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.01em;
	line-height: 1.2;
	min-height: 100vh;
	max-width: 100vw;
	//overflow-x: hidden;
	text-decoration: none;
}

body {
	position: relative;
}

main {
	min-height: 100vh;
}

a {
	color: inherit;
	text-decoration: none;
}

button,
input,
textarea,
select,
option {
	all: unset;
}

input,
textarea {
	width: 100%;
}

input[type="submit"] {
	cursor: pointer;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Garamond", Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.linkWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.grid {
	display: grid;
	align-content: center;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr;
}
